<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: head('Detalhes Professores')}"></head>
    <body>
        <header th:replace="~{fragmentos :: header('Professor #' + ${professor.id})}"></header>

        <main>
            <div class="container mt-4">
                <div class="row mb-3">
                    <div class="12">
                        <strong>Nome: </strong><span th:text="${professor.nome}"></span><br />
                        <strong>Salário: </strong><span th:text="${professor.salario}"></span><br />
                        <strong>Status: </strong><span th:text="${professor.statusProfessor.toString()}"></span><br />
                    </div>
                </div>
                <div class="row">
                    <div class="12">
                        <a th:href="@{/professores/{professorId}/edit(professorId = ${professor.id})}" class="btn btn-primary">Editar</a>
                        <a href="/professores" class="btn btn-danger">Ir para Lista</a>
                    </div>
                </div>
            </div>
        </main>

    </body>
</html>